#upload{
	padding:15px 10px 15px 25px;
	font-weight:bold; font-size:1.3em;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	color:#3366cc;
	border:1px solid #ccc;
	width:100px;
	-moz-border-radius:5px; -webkit-border-radius:5px;
	background: #f2f2f2 url(images/add_image.png) no-repeat 5px center; 
}
.darkbg{
	background:#ddd !important;
}
#status{
	font-family:Arial; padding:5px;
}
ul#files{ list-style:none; padding:0; margin:0; }
ul#files li{ padding:10px; margin-bottom:2px; width:200px; float:left; margin-right:10px;}
ul#files li img{ max-width:180px; max-height:150px; }
.success{ background:#99f099; border:1px solid #339933; }
.error{ background:#f0c6c3; border:1px solid #cc6622; }



#image_list {list-style:none; padding:0; margin:0; }
#image_list li.product_image { cursor: pointer; position: relative; border:1px solid #acacac; padding:5px; float: left; margin: 5px; height: 150px; width:100px; }


.image_controls { display: none; position: absolute; bottom:0; right:0;/*background-color: #FFF; border:1px solid #acacac; */}

#image_list li.hover .image_controls{display: block}

.image_controls a { display: inline-block;  }

#image_list li.hover .image_controls{ display: block; }
span.button { display: block; height:32px; width:32px; background: transparent url(images/ui-icons_cd0a0a_256x240.png) no-repeat top left; cursor:pointer;}
span.button_delete { background: transparent url(images/delete.gif) no-repeat center center; }
span.button_default_image { background:  transparent url(images/tick_gray.gif) no-repeat center center; }
span.button_zoom { background:  transparent url(images/zoom.gif) no-repeat center center; }
.image_controls a:hover span.button_delete {background: transparent url(images/delete_on.gif) no-repeat center center;}
.image_controls a:hover span.button_default_image {background: transparent url(images/tick.gif) no-repeat center center;}
.image_controls a:hover span.button_zoom {background: transparent url(images/zoom_on.gif) no-repeat center center;}

.image_controls a span.default_image_checked {background: transparent url(images/tick.gif) no-repeat center center;}
